body{
    margin:0;
    background-color: black;
    color: azure;
    font-family:cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{
    text-align: center;
    position: relative;
    width:300px;
}
.counter{
    font-size: 30px;
}
.loading-bar-back
{
    position: absolute;
    height: 10px;
    width:100%;
    background-color: aliceblue;
    border-radius: 12px;
    border:none;
}
.loading-bar-front
{
    position: absolute;
    height: 10px;
    width:0%;
    background-color:aqua;
    border-radius: 12px;
    border:none;
}
